@media only screen and (max-width: 768px){
.navbar{
background-color:white;
}
.navbar-toggler{
border:1px solid #B6B6B6;
border-radius: 6px!important;
}
.navbar .navbar-nav{
text-align:center;
margin-top:20px;
}
.navbar .navbar-nav .nav-link{
border-bottom:1px solid #272727;
}
/*--------- aboutarea start-----------*/

.about-area .profile-photo{ 
width: 170px!important;
height: 170px!important;
margin: auto;
border-radius: 50%!important;
}
.about-area .name{
margin-top: 10px!important;
}
.about-area .name, .designation, .social-link{
text-align: center;
}

.about-area button{
display: block;
margin: auto;
text-align: center!important;
}

/*--------- aboutarea end-----------*/

}